<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FERbook</title>

    <script type="text/javascript" src="../angular/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link type="text/css" rel="stylesheet" href="../css/messagesStyle.css"/>
	<link type="text/css" rel="stylesheet" href="../css/template.css"/>


    <script type="text/javascript" src="../script/messages.js"></script>
    <script type="text/javascript" src="../script/links.js"></script>
    <script type="text/javascript" src="../script/root.js"></script>


</head>
<body ng-app="Messages" ng-controller="messagesController">
<div id="header" >
    <div id="top">
        <div id="logo">
            <img src="../images/fer_logo3.png"  alt="FERbook" >
        </div>
    </div>
    <div id="topNav">
        <div id="topNavLinks">

            <div>
                <a class="topnav" target='_self' id="newsfeedLink"  >NEWSFEED</a>
                <span style='letter-spacing:14px;'> |</span>
                <a class="topnav" target='_self'  id="wallLink" > WALL</a>
                <span style='letter-spacing:14px;'> |</span>
                <a class="topnav" target='_self' id="galleryLink"> GALLERY</a>
                <span style='letter-spacing:14px;'> |</span>
                <a class="topnav" target='_self' id="messagesLink"> MESSAGES</a>
            </div>
        </div>
    </div>
</div>

<div id='belowTop'>
    <div id='page'>
        <div>
            <button id="newMessage" ><span id="newMessageB"><b>+NEW MESSAGE</b></span></button>
        </div>
        <div style="height: 30px"></div>


        <div class="messagesContainer">
            <div class="message" ng-repeat="obj in messagesData.data"  >
                <div class="messageBox" ng-init="getInfo(obj.userId)">
                    <img class="profilePic" ng-click="openWall(obj.userId)"
                         ng-src="userInfo.data.picture" >

                    <span id="name" ng-click="openMessage(obj.userId)"
                          ng-bind="userInfo.data.name + ' ' + userInfo.data.lastname"></span>
                    <span id="time" ng-bind="obj.lastMessage.timestamp"></span>
                    <p id="lastMessage" ng-bind="obj.lastMessage.message">
                    </p>
                    <img src="../images/seen.png" class="seen" ng-show="obj.lastMessage.flag">
                    <img src="../images/notseen.png" class="seen" ng-show="!obj.lastMessage.flag">

                </div>
                <div class="clearfix"></div>

                <div style="height: 30px"></div>

            </div>
            </div>
            </div>
    </div>

</body>
</html>