.chat-wrapper {
    direction: rtl;
    position:fixed;
    bottom: 0px;
    right: 0px;
}

.chatTab {
    display: inline-block;
    vertical-align: bottom;
    border:1px solid black;
    height:307px;
    width:220px;
    margin: 0px 3px;
    overflow: hidden;
    direction: ltr;
    transition: all 0.3s ease-in-out;
}

.chatTabHead {
    height:12px;
    background-color: #060cff;
    font-size: 12px;
    color: #ffffff;
    padding:4px 2px;
    font-weight: bold;
}

.chatTabHead span {
    margin:0px 2px 2px 2px;
    font-family: Helvetica;
    font-size: 14px;
    cursor: pointer;
}

.chatTabBody {
    overflow: hidden;
    overflow-y: scroll;
    height:220px;
}

.me {
    text-align: right;
}
.other {
    text-align: left;
}

.me .text {
    background: -moz-linear-gradient(top, #9f89ff 0%, #9f89ff 82%, #7E5CC4 100%);
    background: -webkit-linear-gradient(top, #9f89ff 0%, #9f89ff 82%, #7E5CC4 100%);
    background: -ms-linear-gradient(top, #9f89ff 0%, #9f89ff 82%, #7E5CC4 100%);
    background: -o-linear-gradient(top, #9f89ff 0%, #9f89ff 82%, #7E5CC4 100%);
    background: linear-gradient(top, #9f89ff 0%, #9f89ff 82%, #7E5CC4 100%);
    border:1px solid #981fff;
    padding:5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #9700ff;
    display:inline-block;
    color:#fff;
    text-align:left;
    word-break: break-all;
}

.other .text {
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 82%, #05abe0 100%);
    background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 82%, #05abe0 100%);
    background: -ms-linear-gradient(top, #87e0fd 0%, #53cbf1 82%, #05abe0 100%);
    background: -o-linear-gradient(top, #87e0fd 0%, #53cbf1 82%, #05abe0 100%);
    background: linear-gradient(top, #87e0fd 0%, #53cbf1 82%, #05abe0 100%);
    border:1px solid #1fbbff;
    padding:5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #17bdff;
    display:inline-block;
    color:#000;
    text-align:left;
    word-break: break-all;
}

.message {
    padding:5px;
    margin-bottom: 2px;
    font-family: Felix Titling Regular, cursive;
    font-size: 12px;
}

.sender {
    font-size: 8px;
    color: #676369;
}


.chatInput {
    width:214px;
    height:100px;
    max-height: 60px;
    border:0px;
    border-top:1px solid #1589ff;
    resize: none;
    overflow-y: scroll;
    word-break: break-all;
    outline: none;
}

.chat-users {
    border:1px solid black;
    width:120px;
    height:100%;
    overflow: hidden;
    direction: ltr;
    display:inline-block;
    vertical-align: bottom;
    transition:all 0.3s ease-in-out;
}

.userTag {
    font-size: 12px;
    display: inline-block;
    background-color: #ffffff;
    padding:2px 5px;
    transition: all 0.15s ease-in-out;
    width:100%;
    cursor:pointer;
}

.userTag:hover {
    background-color: #a2a0a3;
    padding-left: 10px;
}
