html {overflow-y:scroll;
}

body {
    min-width: 700px;
    font-size:14px;
    color:#404040;
    background-color: #f1f1f1;
    margin:0px;
    text-align: center;
}

* {
    font-family:verdana,helvetica,arial,sans-serif;
}

#naslov {
    position: fixed;
    width: 100%;
    z-index: 30;

}
#top {
    text-align: center;
    width:65%;
    margin:0 auto;
    height:80px;
    background-color: #8c8c8c;
    position: relative;
    z-index: 20;
    box-shadow: 0px 0px 20px 3px #c9c9c9;

}
.logo{
    text-align: center;
    position: absolute;
}
#topnav {

    width: 65%;
    margin:auto;
    background-color: #790316;
    color: #696969;
    position: relative;
    z-index: 10;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 20px 3px #c9c9c9;
}

#topnavTut {
    text-align: center;
    height:35px;
    margin:auto;
    word-spacing:20px;
    font-size:15px;
    padding-top: 15px;

}

a.topnav:link,a.topnav:visited {
    color:whitesmoke;
    text-decoration:none;
    text-align: center;}
a.topnav:hover,a.topnav:active {
    color: #fff1ef;
    text-decoration:none;
    text-align: center;}

#belowTop {
    position: relative;
    width:65%;
    margin:auto;
    top: 150px;
}
#page {
    position: relative;
    z-index: 0;
    margin-top: 0px;
    height: 1500px;
    padding-top:50px;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0px 0px 20px 3px #c9c9c9;
    background-color: #ffffff;

}


.btn {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus,.btn:active:focus,.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,.btn:focus {
    color: #333;
    text-decoration: none;
}

.btn:active,.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}

.btn-default .badge {
    color: #fff;
    background-color: #333;
}

input,button,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-control {
    width: 65%;
    height: 16px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #c4000a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 0, 3, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 0, 8, 0.60);
}

.form-control::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #777;
}

.form-control::-webkit-input-placeholder {
    color: #777;
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

#description {
    font-size: 22px;
    font-weight: bolder;
}

#disclaimer {
    font-size: 18px;
    color: #b42d2a;
    text-transform: uppercase;
    font-weight: bold;
}
