
.message {
    box-shadow: 0px 0px 2px 3px firebrick;
    width: 100%;
}
#messagesBox{
    min-height: 70px;
	height:auto;
	display:inline-block;
	vertical-align:top;
    min-width: 100%;
    align-self: center;
	border:solid grey 2px;
}
/*.seen{
    width:30px;
    min-height: 3px;
    position: relative;
    float:right;
}*/

.clearFix{
    clear:both;
}

.profilePic{
    height: 50px;
    width:50px;
    top:8px;
    bottom: 8px;
	left: 8px;
    float:left;
    position: relative;
}

#currentMessage {
height: 110%;
padding-top: 50px;
text-align: left;
font-size: 15px;
color: black;
overflow: auto;
width: 850px;
margin-bottom: 20px;
white-space:pre-wrap;
}




#name{
    float:left;
    position: relative;
    top:10px;
    left:15px;
    font-size: 15px;
    color:firebrick;
}

#time{
    float:right;
    top:10px;
    font-size: 15px;
    color: firebrick;
    position: relative;
    right: 10px;
}


#sendB{
    border-radius: 20px;
    padding:10px 10px;
    border:solid firebrick 2px;
    background-color:#d1d1d1;
    margin-top:30px;
    float:right;
    position: relative;
    margin-bottom: 30px;
}

#sendText{
    font-size: 20px;
    text-align: center;
    color: firebrick;
}

button:hover{
    cursor: pointer;
    cursor:hand;
}

#message{
    width:100%;
    box-shadow: 0px 0px 2px 3px firebrick;
    height: 70px;
	resize:none;
}

#emptyMessage{
    color:firebrick;
}