.btn {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus,.btn:active:focus,.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,.btn:focus {
    color: #333;
    text-decoration: none;
}

.btn:active,.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}

.btn-default .badge {
    color: #fff;
    background-color: #333;
}

input,button,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-control {
    width: 65%;
    height: 16px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #c4000a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 0, 3, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 0, 8, 0.60);
}

.form-control::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #777;
}

.form-control::-webkit-input-placeholder {
    color: #777;
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

#description {
    font-size: 22px;
    font-weight: bolder;
}

.disclaimer {
    font-size: 18px;
    color: #b42d2a;
    text-transform: uppercase;
    font-weight: bold;
}

#sendPhoto{
    text-align:left;
    float: left;
    display: inline-block;
    width:390px;
    margin:0px;
    padding:5px;
    background-color:#fff;
}

#submit{
    vertical-align: middle;
    float: right;
    margin-top: 5px;
}

.inputWrapper{
    padding-top: 20px;
    margin-left: 20%;
    margin-right: 25px;
    height: 30px;
    width: 60%;
}