<!DOCTYPE html>
<html >
<head lang="en">
    <meta charset="UTF-8">
    <title>Gallery</title>
    <script type="text/javascript" src="../angular/angular.js" ></script>

    <script type="text/javascript" src="jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../script/gallery.js"></script>
    <script type="text/javascript" src="../script/links.js"></script>
    <script type="text/javascript" src="../script/root.js"></script>

    <link rel="stylesheet" href="../css/alert.css" type="text/css" />
    <link rel="stylesheet" href="../css/galleryStyle.css" type="text/css" />
    <link rel="stylesheet" href="../css/template.css" type="text/css" />

    <link rel="shortcut icon" href="../images/fer_logo_ico.ico"/>
</head>
<body ng-app="gallery">

<div id="header">
    <div id="top">
        <div id="logo">
            <a href="../newsfeed"><img src="../images/fer_logo3.png"  alt="FERbook" ></a>
        </div>
    </div>
    <div id="topNav">
        <div id="topNavLinks">

            <div>
                <a class="topnav" target='_self' id="newsfeedLink"  >NEWSFEED</a>
                <span style='letter-spacing:14px;'> |</span>
                <a class="topnav" target='_self'  id="wallLink" > WALL</a>
                <span style='letter-spacing:14px;'> |</span>
                <a class="topnav" target='_self' id="galleryLink"> GALLERY</a>
                <span style='letter-spacing:14px;'> |</span>
                <a class="topnav" target='_self' id="messagesLink"> MESSAGES</a>
            </div>
        </div>
    </div>
</div>
<div id='belowTop' ng-controller="albumCtrl" ng-init="add()">
    <div id='page'>


            <span class="allAlbums"><select ng-model="myAlbum" class="select-control"
                                            ng-options="a.name for a in albumList">
                <option id="topVal" value="">Choose one of the albums from the list:</option>
            </select></span>

        <button ng-click="showImages(myAlbum.albumId)" class="btn btn-default">Submit</button>

        <form novalidate id="albumAdder" name="newAlbum">
            Write new album title: <input type="text" class="form-control" ng-model="name" />
            <input type="submit" ng-click="addNewAlbum(name)" class="btn btn-default" value="Save" />
        </form>

        <p class="alert alert-danger" id="noPics"></p>

        <div>
            <ul class="nav">
                <li ng-repeat="a in images" ng-hide="images.length <= 0" ng-class="{'active':isActive($index)}">
                    <img src="{{a.url}}" ng-click="showPhoto($index);" />
                </li>
            </ul>
        </div>
        <div class="container slider">
            <div class="picContainer">
                <img ng-repeat="a in images" class="slide" id="pic{{$index}}"  ng-show="isActive($index)" ng-src="{{a.url}}" />
            </div>

            <a class="arrow prev" href="" ng-click="showPrev()" ng-hide="images.length <= 0"><div class="area area-left"></div></a>
            <a class="arrow next" href="" ng-click="showNext()" ng-hide="images.length <= 0"><div class="area area-right"></div></a>
        </div>

        <div class="container hide" id="ispod" ng-hide="images.length <= 0"><div class="row"><div class="window" id = "kom" ng-hide="images.length <= 0" style="width: 80%; text-align: left; margin-left: 12px"></div>
            <a class="window" id = "lajkaj">Like</a>
            <div class="window" id = "lajk" style="width: 8%"></div></div>
            <p class = "alert alert-grey" id="lajkali"></p>
            <div ng-repeat="comment in allComments" id="komentirali" class = "alert alert-danger delete">
                <img src="{{comment.picture}}" ng-click="seeProfile(comment.userId)" class="posterInfo" style="max-width: 50px; max-height: 50px; vertical-align: middle; padding: 3px 3px 3px 3px" /><span class="posterInfo" ng-click="seeProfile(comment.userId)">{{comment.name}} {{comment.lastname}}</span>
                <span id="timestamp">posted on: {{comment.timestamp}}:</span>
                <p class="msg">{{comment.message}}</p>
                <div class="row" style="text-align: right; margin-right: 15px; margin-bottom: 3px"><a ng-init="checkLikes(comment.id, $index)" ng-click="likeCom(comment.id, comment.likesNumber, $index)" id="likeComment" class="like{{$index}}" style="margin-right: 10px;">Like</a>
                    <span id="likesCom" class="msgL{{$index}}">{{comment.likesNumber}} Likes</span></div>
            </div>


            <form novalidate id="comments" name="newComment">
                <input type="text" id="msg" class="form-control" style="width: 90%" ng-model="message" />
                <input type="submit" ng-click="addNewComment(message)" class="btn btn-default" value="Post" />
            </form>
            <p id="bottomDisc" class="alert alert-success"></p></div>


    </div>
    <div class="footer drop">
        <button class="btn btn-default" id="uploadNew" ng-click="postPicture($event)">Upload new photo</button>
        <p id="uploadMsg"></p>
    </div>
</div>

</div>






</body>
</html>